body {
	text-align: center;
	font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif;	
}
table {
	margin: auto;
	display: none;
	background-color: #252839;
	border-collapse: collapse;
	padding: 5px;
}
table, th, td {
	border: 3px solid #252839;
}

td, th {
	height: 50px;
	padding: 10px;
}
h1 {
	color: #f2b632;
}
.th1 {
	background-color: #b5b5b7;
	color: #252839;
	font-weight: bold;
	font-size: 2em;
	text-decoration: underline;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
}
.th2 {
	background-color: #f2b632;
	color: #252839;
	text-align: left;
}
td {
	background-color: #677077;
	color: #f2b632;
}
body {
	background-color: #252839;
	color: #b5b5b7;
}
.playButton {
	width: 160px;
	height: 50px;
	margin: 20px;
	border: 2px solid #677077;
	background-color: #f2b632;
	font-size: 1.25em;
	font-weight: bold;
	color: #252839;
	
}

.txtBox {
	padding-left: 3px;
	width: 120px;
	height: 20px;
	border: 2px solid #677077;
	font-weight: bolder;
	
}
form  {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
/*div.tableResult {
	margin: auto;
    
    border: 3px solid #b5b5b7;
	padding: 5px;
	background-color: #677077; 
}*/